/* CSS HEX */
:root{--cadet-gray: #A8B8C0ff;
--rich-black: #08131Bff;
--french-gray: #C3CACFff;
--charcoal: #2B3A46ff;
--white: #FBFBFBff;
}

body {
    font-family: paletino, serif;
    color: charcoal;
    padding: 10px;
    width:250px;
    height:180px;
    border:8px solid charcoal;
    border-radius:3px;
    margin:0px;
    background-color:lightslategray;
    font-weight:200px;



  }

  hr{
    border-color:charcoal ;
  }

  #quizContainer{
    font-size:15px;
  }
#showAnswers,#reset{
margin:3px;

  display: inline-block;
  outline: 0;
  cursor: pointer;
  text-align: center;
  border: 1px solid #babfc3;
  padding: 7px 16px;
  min-height: 30px;
  min-width: 36px;
  color: #202223;
  background: #ffffff;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 0px 0px;
  :hover {
      background: #f6f6f7;
      outline: 1px solid transparent;
  }

}
  @property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 1;
  }
  
  .pie {

    --p:20;
    --b:18px;
    --c:darkred;
    --w:100px;
  

    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    place-content: center;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
  }
  .pie:before,
  .pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
  }
  .pie:before {
    inset: 0;
    background:
      radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
      conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
  }
  .pie:after {
    inset: calc(50% - var(--b)/2);
    background: var(--c);
    transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
  }
  .animate {
    animation: p 1s .5s both;
  }
  .no-round:before {
    background-size: 0 0, auto;
  }
  .no-round:after {
    content: none;
  }
  @keyframes p{
    from{--p:0}
  }

.option{

}
  .questiondiv {
    /* margin-bottom: 5px; */
}
.option {
    display: flex;
    align-items: center;
}
.option label {
    margin-left: 10px;
}


.answerdiv {
    /* margin-top: 5px; */
}
  
#logo{
  width:100px;

  
  
}
hr{
  margin-top:15px;
  margin-bottom:10px;
}

#longlogo{
  width:100%;

}
#logodiv{
  width:100%;
  position:fixed;
  text-align:center;
  /* background-color:lightcyan; */
  opacity:.80;
  left:0;
  top:0;
  border:3px
  

}

/* CSS */
#generateQuiz {
  background-color: charcoal;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: rich-black;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 8px 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position:absolute; 
  margin-left:-100px;
  left:50%;
  width:200px;
  bottom:10px;
 

}

#generateQuiz:hover,
#generateQuiz:focus {
  background-color: darkslategray;
}

#title{
    text-align:center;
    width:200px;
    margin: 30px auto;

}


  #quizContainer {
    margin-top: 55px;
  
  }

  .answerdiv{
    visibility:hidden;
    content-visibility:hidden;
  }
  
  input[type='radio']:after {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    top: -1px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    top: 1px;
    left: 1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

#piecontainer{
  margin-top:15px;
  margin-left:235px;
  width:300px;
}
p{
  margin:none;
}